.box-header {
    background: #1F2937;
    display: block;
    height: 350px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.menu {
    height: 10px;
    width: 500px;
    padding: 16px;
    padding-left: 350px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.header, .menu {
    display: inline;
}
.menu p {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Verdana;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    font-family: Verdana;
    padding-left: 10px;
    padding-top: 10px;
}