body, html {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 600px;
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 16px;
}

.item {
    background: transparent;
    height: 60px
}

.item.menu {
    width: 425px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

.item.logo {
    margin-left: 150px;
}

.options {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}